body {
    background-color: cyan;
}
    p {
        background-color: white;
    }
    h1,h2 {
        background-color: rgb(243, 174, 243);
    }
   [href="../Index.html"] {
       color:white
   }
   [href="Practice 4.html"] {
       color:white
   }