body {
    background: teal;
}
main {
    overflow: hidden;
}
main {
    position: relative;
    background: linear-gradient(270deg ,rgb(110, 110, 110),black);
    height: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 5px black,
                -2px -2px 9px white;
}
.top__score-main article {
    display: block;
    gap: 10px;
}
article {
    color: white;
}
.top__score-main {
    position: absolute;
    display: grid;
    row-gap: 50px;
}
.pulse {
animation: pulse 0.5s cubic-bezier(0.42, 0, 0.4, 1.38) forwards ;
}
@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        box-shadow: inset 2px 2px 10px white,
                inset -2px -2px 10px black;
    }
    100%{
        transform: scale(1);

    }
}
.scaleFont {
animation: scaleFont 0.5s cubic-bezier(0.42, 0, 0.4, 1.38) forwards ;
}
@keyframes scaleFont {
    0%{
        font-size: 40px;
    }
    50%{
        font-size: 50px;
    }
    100%{
        font-size: 40px;
    }
}
.cell{
    cursor: pointer;
    font-size: 100px;
    border-radius: 15px;
    margin: 10px 0px;
    width: 170px;
    height: 170px;
    background: white;
    box-shadow: 1px 1px 5px black,
                -2px -2px 2px white;
}
.board {
    border-radius: 30px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: 1px 1px 5px black,
                -2px -2px 3px white;
            }
    
    .intro {
            animation: spinIntro 0.4s forwards cubic-bezier(0.42, 0, 0.4, 1.38);
    }
            @keyframes spinIntro {
    0%{
        opacity: 0;
        transform: rotate(-90deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0);
    }
}
    .outro {
            animation: spinOutro 0.4s forwards cubic-bezier(0.42, 0, 0.4, 1.38) ,
            spinIntro 0.4s forwards cubic-bezier(0.42, 0, 0.4, 1.38);
    }
            @keyframes spinOutro {
    0%{
        opacity: 0;
        transform: rotate(0deg);
    }
    100%{
        opacity: 1;
        transform: rotate(90);
    }
}
.side {
    text-align: center;
}
.xo{
    font-size: 130px;
    height: 40%;
    box-shadow: 1px 1px 5px black,
                -3px -2px 4px white;
}
.xScore , .oScore {
    padding:5px;
    border-radius: 2px;
    align-items: end;
}
.high__score {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
position: absolute; 
    top:10px ;
    left: 20vw;
    color: white;
}
#scoreX , #scoreO {
    margin: auto 0 auto 20px ;
    font-size: 1.5rem;
    opacity: 0;
    animation: intro 2s forwards ease-out;
}
@keyframes intro {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (min-width:400px) and(max-width: 600px){
    .cell {
        margin: 5px 5px;
        width: 130px;
        height: 130px;
        font-size: 70px
    }
    .top__score-main{
        display: inline
    }
}
@media screen and (min-width:420px) and  (max-width: 539px){
    .cell {
        margin: 5px 5px;
        width: 120px;
        height: 120px;
        font-size: 70px
    }
}
@media screen and (max-width:419px) {
    .cell {
        margin: 5px 5px;
        width: 85px;
        height: 85px;
        font-size: 50px
    }
}
@media screen and (min-width:601px) and (max-width:1000px) {
    .cell {
        width: 150px;
        height: 150px;
    }

}
@media screen and (max-width:960px) {
    .top__score-main {
        position: fixed;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        align-items: center;
        left: 0;
        right: 0;
        bottom: 50px;
        align-items: center;
    }
    .high__score {
        bottom: 1vh ;
        left: 0;
        top:unset;
        text-align: center;
        width: 100vw;
        margin: auto;
        justify-content: space-evenly;
    }
    #result {
        padding: 20px 0!important;
        width: 75px!important;
        font-size: 20px!important;
    }
}
#result {
    border-radius: 90px;
    padding: 25px;
    text-align: center;
    max-width: 150px;
    min-width: 100px;
    color: white;
    font-size: 30px;
    box-shadow: inset 2px 2px 5px white,
                inset -2px -2px 5px black;
    text-align: center;
}
#reld {
    border-radius: 30px;
    width: 60px;
    background-color: greenyellow;
    transition: 0.5s;
}
#reld:hover {
    background-color: rgb(138, 206, 37);
    transform: scale(1.1);
}
#reld svg {
    transition: 0.5s;
}
#reld:hover svg {
    transform: rotate(1turn);
}
    
