body {
    background: teal;
}
main {
    background: linear-gradient(270deg ,rgb(110, 110, 110),black);
    height: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 5px black,
                -2px -2px 9px white;
}
.cell{
    cursor: pointer;
    font-size: 100px;
    border-radius: 15px;
    margin: 10px 0px;
    width: 170px;
    height: 170px;
    background: white;
    box-shadow: 1px 1px 5px black,
                -2px -2px 2px white;
}
.board {
    border-radius: 30px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 1px 1px 5px black,
                -2px -2px 3px white;
}
.side {
    text-align: center;
}
.xo{
    font-size: 130px;
    height: 40%;
    box-shadow: 1px 1px 5px black,
                -3px -2px 4px white;
}
.high__score {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
position: absolute; 
    top:10px ;
    left: 20vw;
    color: white;
}
#scoreX , #scoreO {
    margin: auto 25px ;
    font-size: 1.5rem;
    opacity: 0;
    animation: intro 2s forwards ease-out;
}
@keyframes intro {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (min-width:400px) and(max-width: 600px){
    .cell {
        margin: 5px 5px;
        width: 130px;
        height: 130px;
        font-size: 70px
    }
}
@media screen and (min-width:420px) and  (max-width: 539px){
    .cell {
        margin: 5px 5px;
        width: 120px;
        height: 120px;
        font-size: 70px
    }
}
@media screen and (max-width:419px) {
    .cell {
        margin: 5px 5px;
        width: 85px;
        height: 85px;
        font-size: 50px
    }
}
@media screen and (min-width:601px) and (max-width:1000px) {
    .cell {
        width: 150px;
        height: 150px;
    }

}
@media screen and (max-width:960px) {
    .high__score {
        bottom: 5vh ;
        left: 0;
        top:unset;
        text-align: center;
        width: 100vw;
        margin: auto;
        justify-content: space-evenly;
    }
}
#result {
    margin: auto;
    border-radius: 10px;
    width: 300px;
    background-color: red;
    text-align: center;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
}
    
