@import './style.css';

.mover {
    animation: moving;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes moving {
    0%{
        transform: scale(1);
    }
    10% {
        transform: scale(0.7);
    }
    20%{
        
        transform: scale(0.5);
    }
    30%{
        transform: scale(0.4) translate(100px , 160px);
    }
    
    40% {
        transform: scale(0.4) translate(200px , -130px);
    }
    50% {
        transform: scale(0.4) translate(300px , 160px);
    }
    60% {
        transform: scale(0.4) translate(0px , -130px);
    }
    70% {
        transform: scale(0.4) translate(-180px , 160px);
    }
    80%{
        transform: scale(0.4) translate(10px , 0px);
    }
    90% {
        transform: scale(0.7) ;
    }
    100% {
        transform: scale(1) ;
    }
}