body {
    background : linear-gradient(90deg ,rgb(0, 0, 0),rgb(80, 80, 255),black)
}
.main {
    background-color: transparent;
    width: 650px;
    height: 700px;
    flex-wrap: wrap;
}
.box {
    width: 55px;
    height: 55px;
    background-color: rgb(189, 74, 74);
    transition: 0.5s;
}
.box:hover {
    cursor: pointer;
    filter: brightness(110%);
    transform: scale(0.96);
    
}
.brd {
    box-shadow: 0px 7px 7px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    background-color: rgb(204, 200, 200);
}
.countera {
    position: fixed;
    top: 300px;
    left:150px;
    font-size: 50px;
    color: white;
    list-style:none;
}
.counterb {
    position: fixed;
    top: 300px;
    right:150px;
    font-size: 50px;
    color: white;
    list-style:none;
}
@media screen and (max-width:360px) {
    .countera {
        top: 70%;
        left: 35px;
        font-size: 30px;
    }
    .counterb {
        top: 70%;
        right: 35px;
        font-size: 30px;
    }
    .box {
        width: 23px;
        height: 23px;
    }
    .brd {
        width: 25px;
        height: 25px;
    }
    .main {
        width: 90%;
        height: 50%;;
    }
}
@media screen and (min-width:850px) and (max-width:1150px) {
    .countera {
        top: 50%;
        left: 25px;
        font-size: 30px;
    }
    .counterb {
        top: 50%;
        right: 25px;
        font-size: 30px;
    }
}
@media screen and (min-width:361px) and (max-width:849px) {
    .countera {
        top: 80%;
        left: 45px;
        font-size: 50px;
    }
    .counterb {
        top: 80%;
        right: 45px;
        font-size: 50px;
    }

}