body, html {
    min-height: 100%;
    background: linear-gradient(0deg , #def4e4 , #f4f4bd , #f4d4bd , #b48b8b , #3e6787)!important;
}
.card {
    box-shadow: 0px 4px 9px #333, inset 0px -3px 6px #999;
}