body, html {
    height: 110%;
    width: 100%;
background: linear-gradient(90deg , rgb(41, 41, 41) , white)
}
.head {
    border: 3px solid transparent;
    border-bottom-color: goldenrod;
}
.item {
    border: transparent;
    color: yellow;
    background-color: teal;
    font-weight: bolder;
    font-size: 35px;
    border-radius: 15px;
    height: 90px;
    width: 150px;
    transition: 0.5s;
    outline: none;
}
.item:hover {
    color: yellow;
    transform: translateY(5px);
    box-shadow: 1px 10px 20px 0px black;
}